:root {
  color: var(--color-base);
  /* base
  -------------------------- */
  --size-base: 14px;
  --size-main: 16px;
  --color-base: #333;
  --color-main: #00a7ea;
  --color-999: #999;
  --borderColor-main: #ddd;
  /* shadow
  -------------------------- */
  --shadow-bgcolor: rgba(0, 0, 0, .5);
  /* toast
  -------------------------- */
  --toast-max-width: 300px;
  --toast-bgcolor: rgba(0, 0, 0, .5);
  /* msg-box
  -------------------------- */
  --msg-width: 85%;
  --msg-bgcolor: #fff;
  /* header
  -------------------------- */
  --header-hg: 48px;
  /* button
  -------------------------- */
  --button-width: 120px;
  --button-hg: 40px;
  --button-smallwidth: 70px;
  --button-smallhg: 30px;
  /* tab
  -------------------------- */
  --tab-hg: 40px;
  --tab-bgcolor: #fff;
  @define-mixin cflex $type:all{
    display: flex;
    @if $type == all {
      align-items: center;
      justify-content: center;
    }
    @if $type == center {
      justify-content: center;
    }
    @if $type == middle {
      align-items: center;
    }
  }
}