@import "common/var.css";
@define-mixin buttonStyle $width,$height,$bgColor,$color,$borderColor,$size{
  width: $width; 
  height: $height;
  background-color: $bgColor;
  color: $color;
  border: 1px solid $borderColor;
  font-size: $size;
}
@b c{
  @e button{
    @mixin cflex;
    border-radius: 4px;
    box-sizing: border-box;
    @m default{
      @mixin buttonStyle var(--button-width),var(--button-hg),var(--color-main),#fff,var(--color-main),var(--size-main);
    }
    @m reverse{
      @mixin buttonStyle var(--button-width),var(--button-hg),#fff,var(--color-main),var(--color-main),var(--size-main);
    }
    @m small{
      @mixin buttonStyle var(--button-smallwidth),var(--button-smallhg),var(--color-main),#fff,var(--color-main),var(--size-base);      
    }
    @m small-reverse{
      @mixin buttonStyle var(--button-smallwidth),var(--button-smallhg),#fff,var(--color-main),var(--color-main),var(--size-base);      
    }
    @when fullWidth{
      width: 100%;
    }
  }
}