@b c{
  @e toast{
    max-width: 300px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(0, '-50%');
    color: #fff;
    border-radius: 4px;
    font-size: var(--size-base)
  }
}