@import "common/var.css";
@b c{
  @e toast{
    max-width: var(--toast-max-width);
    padding: 10px 20px;
    background-color: var(--toast-bgcolor);
    position: fixed;
    color: #fff;
    border-radius: 4px;
    font-size: var(--size-base);
    z-index: 1000;
    box-sizing:border-box;
    @m default{
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @m top{
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    @m center{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @m bottom{
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}